.phone-cards {
    padding-top: 50px;
}

.references-slider-pagination {
    text-align: center;
}

.shop-box {
    background-color: #F5F5F5;
    padding: 20px;
    min-height: 500px;
    border-radius: 8px;
}

.shop-box h5 {
    color: orange;
    font-weight: bold;
    padding: 20px 0;
}

.shop-box .prices {
    font-size: 40px;
    color: #2E2F32;
    padding: 20px 0;
}

.gb-box span {
    padding-left: 30px;
}

.gb-box ul {
    display: flex;
    gap: 18px;
}

.gb-box ul li {
    list-style: none;
    padding: 10px 0;
}

.gb-box ul li a {
    text-decoration: none !important;
    border: 1px solid orange;
    background-color: orange;
    color: #fefefe;
    padding: 8px 23px;
    border-radius: 5px;
}

.stoks {
    text-decoration: none;
    color: orange;
    background-color: #fefefe;
    border: 1px solid orange;
    display: block;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    margin: 5px 0;
    transition: 0.5s;
}

.stoks:hover {
    background-color: orange;
    color: #fefefe;
}

.data-text {
    padding: 20px 0;
}

@media only screen and (max-width: 600px) {
    .gb-box  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gb-box ul{
        display: flex;
        gap: 5px;
    }
  }